<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://res.cloudinary.com/dn1wzghh2/raw/upload/v1599120487/assets_for_wordsmith/form_style_vgxzca.css">
</head>
<style>
    input[type=text]:focus,input[type=date]:focus,input[type=email]:focus,input[type=tel]:focus{
        border-bottom: 3px solid #20c997;
        border-width: 0%;
        border-radius: 5px;
        transition: 0.8s;

    }
</style>

<body style="padding: 1% 1% 1% 1%;border-color: rgb(248,250,251);color: rgb(242,244,247);">
    <!-- Start: Application Form -->
    <section>
        <h1 class="text-center text-capitalize" style="border-style: none;">Resume form</h1>
        <div class="container">
            <form id="application-form" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <p><strong>First Name</strong>&nbsp;<span class="text-danger">*</span></p><input class="form-control" type="text" required="" name="" placeholder="Ex. Smith" style="background-color: rgba(255,255,255,0);border-style: none;border-bottom-style: solid;border-left-width: 0;color: rgb(248,250,252);"></div>
                        <div
                            class="col">
                            <p><strong>Last Name</strong>&nbsp;<span class="text-danger">*</span></p><input class="form-control" type="text" required="" name="" placeholder="Ex. Willam" style="background-color: rgba(255,255,255,0);border-style: none;border-bottom-style: solid;border-left-width: 0;color: rgb(241,244,247);"></div>
                </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <p><strong>Date Of Birth</strong>&nbsp;<span class="text-danger">*</span></p><input class="form-control" type="date" required="" name="" style="background-color: rgba(255,255,255,0);border-style: none;border-bottom-style: solid;color: rgb(202,204,205);"></div>
            </div>
        </div>
        <div class="form-group">
            <p><strong>Email&nbsp;</strong><span class="text-danger">*</span></p><input class="form-control" type="email" name="" placeholder="user@domain.com" style="color: rgb(251,251,252);background-color: rgba(255,255,255,0);border-style: none;border-bottom-style: solid;"></div>
        <div
            class="form-group">
            <p><strong>Contact Number&nbsp;</strong><span class="text-danger">*</span></p><input class="form-control" type="tel" style="color: rgb(247,249,251);background-color: rgba(255,255,255,0);border-style: none;border-bottom-style: solid;" placeholder="Phone No."></div>
            <div
                class="form-group">
                <p><strong>Address&nbsp;</strong><span class="text-danger">*</span></p><input class="form-control" type="text" required="" name="" placeholder="Ex. Room No-361, 33/1, 3rd Floor" style="border-style: none;border-bottom-style: solid;color: rgb(242,245,248);background-color: rgba(255,255,255,0);">
                <p>Address Line 1<br></p><input class="form-control" type="text" required="" name="" placeholder="Ex. Marshal House, N S Road" style="background-color: rgba(255,255,255,0);color: rgb(244,246,248);border-style: none;border-bottom-style: solid;">
                <p>Address Line 2<br></p>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col"><input class="form-control" type="text" required="" name="" placeholder="Ex.   Kolkata" style="border-style: none;border-bottom-style: solid;color: rgb(248,250,252);background-color: rgba(255,255,255,0);">
                            <p>City</p><input class="form-control" type="text" required="" name="" placeholder="Ex. 9876543210" style="border-style: none;border-bottom-style: solid;background-color: rgba(255,255,255,0);color: rgb(250,251,252);">
                            <p>Zip Code</p>
                        </div>
                        <div class="col"><input class="form-control" type="text" required="" name="" placeholder="Ex.   West Bengal" style="background-color: rgba(255,255,255,0);border-style: none;border-bottom-style: solid;">
                            <p>State</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <p>Skills</p>
                            <!-- Start: Bootstrap Tags Input --><input class="form-control" type="text" data-role="tagsinput" data-class="label-info" placeholder="Add Your Skills" style="color: rgb(249,251,254);background-color: rgba(255,255,255,0);border-style: none;border-bottom-style: solid;">
                            <!-- End: Bootstrap Tags Input -->
                        </div>
                        <div class="col">
                            <p>Achievements</p>
                            <!-- Start: Bootstrap Tags Input --><input class="form-control" type="text" data-role="tagsinput" data-class="label-info" placeholder="Add Your Achievements" style="background-color: rgba(255,255,255,0);border-style: none;border-bottom-style: solid;">
                            <!-- End: Bootstrap Tags Input -->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Start: Bootstrap Image Uploader --><p><strong>Your Picture </strong><span class="text-danger">*</span></p>
<div class="file">
            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm ">
                <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>

            <!-- Uploaded image area-->
            <p class="font-italic text-center">The image uploaded will be rendered inside the box below.</p>
            <div class="image-area mt-4 text-dark"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"  width=200></div>
<div class="col d-none">
    <p><strong>URL</strong><span class="text-danger">*</span></p>
    <input id="urllink" name="url" type="url" class="form-control" readonly/>
</div>
</div>
                    <!-- End: Bootstrap Image Uploader -->
                </div>
                <input type="submit" value="Submit">
                <div class="form-group justify-content-center d-flex">
                    <div id="submit-btn">
                        <div class="form-row"><button class="btn btn-primary btn-light m-0 rounded-pill px-4" type="button" style="min-width: 250px;background-color: #20c997;color:white;border: none;" action method="POST" target="hidden_iframe"><b>Submit</b></button></div>
                    </div>
                </div>
                </form>
                </div>
                <div class="col">
                    <h3 id="fail" class="text-center text-danger d-none"><br>Form not Submitted&nbsp;<a href="contact.html">Try Again</a><br><br></h3>
                    <h3 id="success-1" class="text-center text-success d-none"><br>Form Submitted Successfully&nbsp;<a href="contact.html">Send Another Response</a><br><br></h3>
                </div>
    </section>
    <!-- End: Application Form -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://res.cloudinary.com/dn1wzghh2/raw/upload/v1599120487/assets_for_wordsmith/form_script_e6vkq4.js"></script>

</body>
</html>