<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'resume_builder/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'resume_builder/assets/css/LinkedIn-like-Profile-Box.css'%}">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">Wordsmith</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="contact" style="text-align: center;">
        <!-- Start: LinkedIn-like Profile Box -->
        <div class="text-center border rounded-0 shadow-sm profile-box" style="width: 75%;height: 500px;background-color: #ffffff;margin: 12.5%;text-align: center;">
            <div style="height: 50px;background-image: url({% static "resume_builder/assets/img/bg-pattern.png"%}) ;background-color: rgba(54,162,177,0);"></div>
            <div><img class="rounded-circle" src="{% static 'resume_builder/assets/img/profile.png'%}" width="60px" height="60px" style="background-color: rgb(255,255,255);padding: 2px;width: 10vw;height: 10vw;"></div>
            <div style="height: 80px;">
                <h4>{{username}}</h4>
                <p style="font-size: 20px;">{{email}}</p>
                <p style="font-size: 20px;">Your total documents : {{count}}</p>
                <p style="font-size: 20px;">subscription : {% if subscription %} Congratulations You are subscribed! {% else %} No Subscription{% endif %}</p>
                {% if payment and not subscription%}
            <form action="{% url 'payment_status' %}" method="POST">
                {% csrf_token %}
                <script
                        src="https://checkout.razorpay.com/v1/checkout.js"
                        data-key="rzp_live_uJkZ9eouyrDXGp"
                        data-amount="{{ payment.amount }}"
                        data-currency="{{ payment.currency }}"
                        data-order_id="{{ payment.id }}"
                        data-buttontext="Donate and Subscribe Now"
                        data-name="wordsmit trial subscription"
                        data-prefill.name="{{ payment.name }}"
                        data-prefill.email="{{payment.email}}"
                        data-theme.color="#20c997"
                ></script>
                <input type="hidden" custom="Hidden Element" name="hidden">
            </form>
        {% endif %}
        <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_IgzeAVJIHbSIw3/view" data-text="Fund Now" data-color="#528FF0" data-size="large">
            <script>
              (function(){
                var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                rzp && rzp.init && rzp.init()}})();
            </script>
          </div>
              
            </div>
        </div><!-- End: LinkedIn-like Profile Box -->
    </section>
   
     <footer class="footer text-center" style="background-color: rgb(44,62,80);">
        <!-- Start: Footer with social media icons -->
        <footer id="footerpad">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-8 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google fa-stack-1x fa-inverse"></i></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                            <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                        </ul>
                        <p class="copyright text-muted text-center" style="color: rgb(250,251,252);background-color: rgb(44,62,80);filter: brightness(100%);">Copyright © Wordsmith&nbsp; 2020 | Developed&nbsp; By Pratyush Saxena</p>
                    
                    </div>
                </div>
            </div>
        </footer>
        <!-- End: Footer with social media icons -->
        <!-- Start: Footer with social media icons -->
        <footer id="footerpad-1"></footer>
        <!-- End: Footer with social media icons -->
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/freelancer.js"></script>
</body>

</html>